.board-tile {
  height: 50px;
  width: 50px;
}
.boarddiv {
  position: relative;
}

.visibleCard {
  height: 150px;
  width: 90;
}
.divCard{
  position : absolute;
  top : 150 px;
  float : left;
  height: 150px;
  width: 90;
}

.opponentCard {
  position : absolute;
  top : 270 px;
  float : left;
  height: 150px;
  width: 90;
}

.trumpCard {
  height: 150px;
  width: 90;
}

.tapis {
  height: 800px;
  width: 800;
}


/* style={{"position" :"absolute", "top":"270px", "float":"left", "height":" 150px"}}  */